/* FONT SIZE 1em=10px */
* {margin:0; padding:0;}
html {font-size:125%;}
body {font-family:sans-serif; font-size:.5em;}

/* CLEARFIX */
.cf:after, div:after, section:after, nav:after, header:after, footer:after {content: ""; display: block; clear: both; height: 0; visibility: hidden;}
.cf, div, section, nav, header, footer {display:block; height:auto; min-height: 0;}
	* html .cf,
	* html section,
	* html nav,
	* html header,
	* html footer,
	* html div {height: 1%;}

/* DEFAULTING ELEMENTS */
ul, ol, li {list-style:none;}
h1, h2, h3, h4, h5, h6 {font-size:1em; font-weight:normal;}
fieldset, img, acronym, abbr {border:0;}
img {display: block;}
input, select, textarea {font-size:1em; font-family:sans-serif; vertical-align:middle;}

/* HIDDEN, NONE, MOBILE */
.indentado {display:block; left:-999em; line-height:0; position:absolute; text-indent:-999em; top:-999em;}
.oculto, .movil {display:none;}


/* LINKS */
a:hover {text-decoration:none;}


body {background-color:#d2d2d2; font-family:verdana,dejavu sans,arial,sans-serif;}
#contenedor {background-color:#fff; border-radius:2px; margin:1em auto; padding:1em; width:40em;}

#cabecera h1 {font-family:calibri,arial,sans-serif; font-size:2em; margin-bottom:.5em;}

#pie {padding:3em 0 1em 0; text-align:center;}


/* TABLA */

#error-campos-numericos,
#aplicacion-datos,
#aplicacion-resultados {display:none;}

#aplicacion-datos label input {}
#aplicacion-datos input.erroneo {border:1px solid #CF2034;}